header {
  width: 50vw;
  color: #03dac5;
  margin-bottom: 3rem;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.instructions {
  padding: 20px 0;
}

.instructions p {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-family: Fira Code;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 3rem;
  font-size: 1rem;
  background: #ff0266;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  align-self: flex-end;
  cursor: pointer;
  transition: background 150ms linear;
}

.nextbtn {
  width: 11rem;
}

.resetbtn {
  width: 5rem;
}

.btn:hover {
  background: #ff217a;
}

.btn:active {
  transform: translate(0, 0.2rem);
}
