div {
  display: flex;
  box-sizing: border-box;
  background-color: #282a36;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

header {
  width: 100%;
  color: #03dac5;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}