div {
  display: flex;
}

.sidebar {
  width: 50vw;
  display: block;
}

header {
  width: 100%;
  padding: 30px;
  color: #43a047;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.game {
  width: 50vw;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
}
